/* PHASE 0: Reset */

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
    font: inherit;
    text-decoration: inherit;
    box-sizing: inherit;
    text-align: inherit;
    color: inherit;
    background: transparent;
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
}

ul {
    appearance: none;
    list-style: none;
}

img {
    display: block;
    height: auto;
    width: 100%;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {

}

button,
input[type="submit"] {
    
}
