/* PHASE 1: Header */

body {
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header {
    color: white;
    background-color: red;
    /* border: 1px;
    border-style: solid; */
}

h1 {
    border: 1px;
    border-style: solid;
    border-top: 0px;
    border-bottom: 0px;
    border-color: white;
    padding: 10px;
    display: inline-block
}

ul li {
    border: 1px;
    border-style: solid;
    border-top: 0px;
    border-bottom: 0px;
    padding: 10px;
}

header, ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.profile {
    background-color: black;
}
