/* PHASE 2: Notifications */
.badge {
    background-color: black;
    border-radius: 30px;
    border-style: solid;
    width: 18px;
    height: 18px;
    padding: 4px;
    font-size: smaller;
    display: inline-block;
    text-align: center;
}